.App {
  min-height: 100vh;
  color: white;
  background-color: #363636;
  font-family: "Ubuntu", sans-serif;
  padding: 0 24px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: span 3;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 24px;
  border-radius: 12px;
  gap: 24px;
}

.wallet-card,
.expense-card,
.pie-card {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

.expense-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 24px;
  height: auto;
}

.recents-card {
  grid-column: span 2;
  color: black;
  margin-bottom: 8px;
}

.recents-card h2 {
  color: white;
}

.expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #414141;
}

.expense-amount {
  color: rgb(224, 224, 0);
  margin-right: 24px;
}

.icon-wrapper {
  display: inline-block;
  background-color: #00000044;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.expense small {
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #ccc;
}

/* Balance modal form */
input,
select {
  outline: none;
  border: none;
  background: #ddd;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px 2px #00000044;
  margin: 0 4px;
}

.balance-form,
.expense-form {
  margin: 8px 0;
}
.balance-form button,
.expense-form button {
  outline: none;
  border: none;
  background: #ddd;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 6px 2px #00000044;
  margin: 0 4px;
}

.balance-form .colored,
.expense-form .colored {
  background: #ffff50;
}

.form-set {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

.form-set input,
.form-set select,
.form-set button {
  width: 100%;
}
