.App {
    min-height: 100vh;
    color: white;
    background-color: #363636;
    font-family: "Ubuntu", sans-serif;
    padding: 0 24px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-column-start: 1;
    grid-column-end: 4;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.card {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 24px;
    border-radius: 12px;
}

.expense-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.recents-card{
    grid-column-start: 1;
    grid-column-end: 3;
    color: black;

    margin-bottom: 8px;
}

.recents-card  h2 {
    color: white;
}

.expense {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0;
    border-bottom: 1px solid #414141;
}

.expense-amount {
    color: rgb(224, 224, 0);
    margin-right: 24px;
}