/* ONLY FOR THE BUTTONS */

.add-expense-button {
    padding: 16px 36px;
    border-radius: 24px;
    background:linear-gradient(to right, rgb(255, 155, 155), rgb(255, 28, 28));
    color: white;

}

.add-balance-button {
    padding: 16px 36px;
    border-radius: 24px;
    background:linear-gradient(to right, rgb(155, 255, 155), rgb(28, 255, 28));
    color: white;
}

.delete-button {
    background-color: rgb(255, 28, 28);
    color: white;
    padding: 4px 6px;
    font-size: large;
    border-radius: 4px;
    margin: 0 8px;
    box-shadow: 0 4px 4px 0 #fff;
}

.update-button {
    background-color: rgb(224, 224, 0);
    color: white;
    padding: 4px 6px;
    font-size: large;
    border-radius: 4px;
}

.arrow-button {
    background-color: rgb(122, 255, 122);
    color: white;
    padding: 4px 6px;
    font-size: large;
    border-radius: 4px;
    margin: 0 8px;
    box-shadow: 0 4px 4px 4px #fff;
}

.page-button {
    padding: 6px 8px;
    font-size: large;
    border-radius: 4px;
    box-shadow: 0 4px 4px 4px #fff;
}